<style type="text/css"> 
.di 
{ background-color:#99FF00; 
margin-left:300px; 
width:100px; 
height:100px; 
} 
.mm 
{ 
background-color:#660099; 
width:200px; 
height:100px; 
} 
#mn 
{ 
background-color:#3333FF; 
margin-left:500px; 
width:300px; 
height:300px; 
} 
#ss 
{ background-color:#3333FF; 
width:300px; 
height:100px; 
} 
</style> 